body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h3,
{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


.body {

    text-align: center;
    background-color: #110a0a;
}

.message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

h1 {
    color: #fff;
	margin-top: 30px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3.5em;
}


h3 {
    color: #fff;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	padding-bottom: 10px;
}

img.logo {
	height: 15%;
	width: 15%;
	}

.footer, a, a:link{
	color: #110a0a;
	font-size: 6px;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {

		margin-bottom: 0;
    }


}

